body {
    background: #2632D4;
}

/* desktop */

.title {
    position: absolute;
    height: 63px;
    left: 50px;
    top: 35px;
    
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 51px;
    
    color: #FFFFFF;
}

.subtitle {
    position: absolute;
    height: 63px;
    left: 50px;
    top: 109px;
    
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    
    color: #FFFFFF;
}

.palla {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 112px;
    top: 193px;
}

.palla:hover {
    filter: brightness(110%);
}

.clover {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 498px;
    top: 193px;
}

.clover:hover {
    filter: brightness(110%);
}

.pollie {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 884px;
    top: 193px;
}

.pollie:hover {
    filter: brightness(110%);
}

.chronicle {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 112px;
    top: 477px;
}

.chronicle:hover {
    filter: brightness(110%);
}

.bree {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 498px;
    top: 477px;
}

.bree:hover {
    filter: brightness(110%);
}

.awesomic {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 884px;
    top: 477px;
}

.awesomic:hover {
    filter: brightness(110%);
}

.yummy {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 112px;
    top: 776px;    
}

.yummy:hover {
    filter: brightness(110%);
}

.fireside {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 498px;
    top: 776px;    
}

.fireside:hover {
    filter: brightness(110%);
}

.anfin {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 884px;
    top: 776px;    
}

.anfin:hover {
    filter: brightness(110%);
}

.payo {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 112px;
    top: 1075px;    
}

.payo:hover {
    filter: brightness(110%);
}

.kredi {
    position: absolute;
    width: 349px;
    height: 261px;
    left: 498px;
    top: 1075px;    
}

.kredi:hover {
    filter: brightness(110%);
}

.contact {
    position: absolute;
    width: 152px;
    height: 63px;
    left: 974px;
    top: 1175px;      
}

.contact:hover {
    opacity: .75;
}

.arrow {
    position: absolute;
    width: 985.93px;
    height: 477.56px;
    left: 350px;
    top: 1205px;
    transform: rotate(-25deg);
    z-index: -1;
}

/* tablet */

@media screen and (max-width: 835px) {
    .title {
        position: absolute;
        height: 63px;
        left: 50px;
        top: 45px;
        
        font-family: Futura;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 51px;
        
        color: #FFFFFF;
    }
    
    .subtitle {
        position: absolute;
        height: 63px;
        left: 50px;
        top: 119px;
        
        font-family: Futura;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        
        color: #FFFFFF;     
    }
    
    .palla {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 50px;
        top: 193px;           
    }
    
    .clover {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 436px;
        top: 193px; 
    }
    
    .pollie {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 50px;
        top: 491px;        
    }
    
    .chronicle {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 436px;
        top: 491px;
    }
    
    .bree {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 50px;
        top: 788px;
    }
    
    .awesomic {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 436px;
        top: 785px;        
    }
    
    .yummy {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 50px;
        top: 1085px;       
    }

    .fireside {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 438px;
        top: 1085px;       
    }

    .anfin {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 49px;
        top: 1383px;
    }

    .payo {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 438px;
        top: 1383px;
    }

    .kredi {
        position: absolute;
        width: 349px;
        height: 261px;
        left: 49px;
        top: 1681px;
    }

    .contact {
        position: absolute;
        width: 152px;
        height: 63px;
        left: 341px;
        top: 2027px;        
    }

    .arrow {
        display: none;
    }
}

/* mobile */

@media screen and (max-width: 480px) {
    .title {
        position: absolute;
        height: 63px;
        left: 20px;
        top: 45px;
        
        font-family: Futura;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        
        color: #FFFFFF;
    }
    
    .subtitle {
        position: absolute;
        height: 33px;
        left: 20px;
        top: 119px;
        
        font-family: Futura;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        
        color: #FFFFFF;          
    }
    
    .palla {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 193px;        
    }
    
    .clover {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 440px;        
    }
    
    .pollie {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 687px;
    }
    
    .chronicle {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 934px; 
    }
    
    .bree {
        position: absolute;
        width: 284px;
        height: 213.14px;
        left: 39px;
        top: 1180px;
    }
    
    .awesomic {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 1427px;
    }

    .yummy {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 1676px;
    }

    .fireside {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 1923px;
    }

    .anfin {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 2170px;
    }

    .payo {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 2417px;
    }

    .kredi {
        position: absolute;
        width: 284px;
        height: 213px;
        left: 39px;
        top: 2664px;
    }
    
    .contact {
        position: absolute;
        width: 152px;
        height: 63px;
        left: 114px;
        top: 2915px;    
    }

    .arrow {
        display: none;
    }
}